In [ ]:
# Download Nutrition Fact Excel

In [1]:
import psycopg2
import psycopg2.extras as extras
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from io import StringIO

In [2]:
df = pd.read_excel('https://www.myfooddata.com/spreadsheets/MyFoodData-Nutrition-Facts-SpreadSheet-Release-1-4.xlsx')

In [3]:
df.head(3)

,Data Provided By MyFoodData.com,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115,Unnamed: 116
0,"Click ""File"" then ""Download as"" or ""Select All...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"If you have a google account click ""File"" then...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ID,name,Food Group,Calories,Fat (g),Protein (g),Carbohydrate (g),Sugars (g),Fiber (g),Cholesterol (mg),...,Serving Description 5 (g),Serving Weight 6 (g),Serving Description 6 (g),Serving Weight 7 (g),Serving Description 7 (g),Serving Weight 8 (g),Serving Description 8 (g),Serving Weight 9 (g),Serving Description 9 (g),200 Calorie Weight (g)

In [4]:
df = df.drop(df.index[[0,1]])
df = df.rename(columns=df.iloc[0]).drop(df.index[0])

In [5]:
df.head()

,ID,name,Food Group,Calories,Fat (g),Protein (g),Carbohydrate (g),Sugars (g),Fiber (g),Cholesterol (mg),...,Serving Description 5 (g),Serving Weight 6 (g),Serving Description 6 (g),Serving Weight 7 (g),Serving Description 7 (g),Serving Weight 8 (g),Serving Description 8 (g),Serving Weight 9 (g),Serving Description 9 (g),200 Calorie Weight (g)
3,167512.0,Pillsbury Golden Layer Buttermilk Biscuits Art...,Baked Foods,307.0,13.24,5.88,41.18,5.88,1.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.147
4,167513.0,Pillsbury Cinnamon Rolls With Icing Refrigerat...,Baked Foods,330.0,11.27,4.34,53.42,21.34,1.4,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.606
5,167514.0,Kraft Foods Shake N Bake Original Recipe Coati...,Baked Foods,377.0,3.7,6.1,79.8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.05
6,167515.0,George Weston Bakeries Thomas English Muffins,Baked Foods,232.0,1.8,8.0,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.207
7,167516.0,Waffles Buttermilk Frozen Ready-To-Heat,Baked Foods,273.0,9.22,6.58,41.05,4.3,2.2,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.26

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14164 entries, 3 to 14166
Columns: 117 entries, ID to 200 Calorie Weight (g)
dtypes: object(117)
memory usage: 12.8+ MB

In [ ]:
# Defining connection variables
username = 'lisa' 
password = '1234567890' 
ipaddress = 'datalake1.cnemzbdfnjko.us-east-1.rds.amazonaws.com' 
port = '5432' 
dbname = 'datalake1'

In [ ]:
# A long string that contains the necessary Postgres login information
postgres_str = f'postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'

In [ ]:
# Create the connection
cnx = create_engine(postgres_str)

In [ ]:
# Load Dataframe into Databank
df.head(0).to_sql('facts', con=cnx, index=False) # head(0) uses only the header
# set index=False to avoid bringing the dataframe index in as a column 

raw_con = cnx.raw_connection() # assuming you set up cnx as above
cur  = raw_con.cursor()
out = StringIO()

# write just the body of your dataframe to a csv-like file object
df.to_csv(out, sep='\t', header=False, index=False) 

out.seek(0) # sets the pointer on the file object to the first line
contents = out.getvalue()
cur.copy_from(out, 'facts', null="") # copies the contents of the file object into the SQL cursor and sets null values to empty strings
raw_con.commit()

In [ ]:
engine = create_engine('postgresql+psycopg2://lisa:1234567890@datalake1.cnemzbdfnjko.us-east-1.rds.amazonaws.com/datalake1')

In [ ]:
engine.execute("SELECT * FROM facts").fetchall()

In [ ]:
engine.execute('DROP TABLE IF EXISTS facts;')